body{
    margin:0;
    font-family:'Poppins',sans-serif;
    background:#f5f6fa;
}

.admin-wrapper{
    display:flex;
    min-height:100vh;
}

.sidebar{
    width:260px;
    background:#fff;
    border-right:1px solid #eee;

    position:fixed;
    top:0;
    left:0;
    height:100vh;

    overflow-y:auto;

    transition:all .3s ease;
    z-index:1000;
}

.logo{
    padding:25px;
    border-bottom:1px solid #eee;
}

.sidebar-menu{
    padding:20px;
}

.menu-item{
    display:flex;
    align-items:center;
    gap:12px;

    width:100%;

    padding:12px 15px;
    margin-bottom:8px;

    border-radius:12px;

    text-decoration:none;
    color:#555;
    border:none;
    background:none;
}

.menu-item:hover{
    background:#f3f4f6;
}

.menu-item.active{
    background: linear-gradient(135deg, #112D60 0%, #DD83E0 100%);
    color:white;
}

.logout-btn{
    cursor:pointer;
}


.main-content{
    margin-left:260px;
    flex:1;
    min-width:0;
    transition:all .3s ease;
    overflow-x:auto;
}

.topbar{
    position:fixed;
    top:0;
    left:260px;      /* bằng width sidebar */
    right:0;

    height:70px;

    display:flex;
    justify-content:space-between;
    align-items:center;

    padding:0 25px;

    background:white;
    border-bottom:1px solid #eee;
    z-index:900;

    box-sizing:border-box;
}

.topbar-left{
    display:flex;
    align-items:center;
    gap:20px;
}

.search-box{
    display:flex;
    align-items:center;

    gap:10px;

    background:#f6f7fb;

    padding:10px 15px;

    border-radius:12px;

    width:100%;
    max-width:350px;
}

.search-box input{
    border:none;
    background:none;
    outline:none;
    width:250px;

    width:100%;
    min-width:0;
}

.topbar-right{
    display:flex;
    align-items:center;
    gap:25px;
}

.notification{
    font-size:20px;
    cursor:pointer;
}

.user-profile{
    display:flex;
    align-items:center;
    gap:12px;
}

.avatar{
    width:42px;
    height:42px;

    border-radius:50%;

    color:white;

    display:flex;
    align-items:center;
    justify-content:center;

    font-weight:600;
}

.user-name{
    font-weight:600;
}

.user-role{
    font-size:12px;
    color:#888;
}

.page-content{
    padding:95px 25px 25px;
    width:100%;
}

.dashboard-cards{
    display:grid;
    grid-template-columns:repeat(4,1fr);
    gap:20px;
}

.stat-card{
    padding:25px;
    border-radius:16px;
    color:white;
    box-shadow: 0 10px 25px rgba(123, 97, 255, 0.25);
}

.purple{
    background: linear-gradient(135deg, #fc5c7d, #6a82fb);
}

.pink{
    background: linear-gradient(135deg, rgb(241, 92, 142) 30%, rgb(255, 165, 138) 90%);
}

.orange{
    background: linear-gradient(135deg, #FF9966, #00F2FE);
}

.blue{
    background: linear-gradient(135deg, rgba(110,123,251,1) 11.2%, rgba(156,252,248,1) 91.1%);
}

.dark-purple{
    background: linear-gradient(135deg, #112D60 0%, #DD83E0 100%);
}

@media (max-width:992px){

    .sidebar{
        width:190px;
    }

    /* .sidebar .menu-item span{
        display:none;
    } */

    .main-content{
        margin-left:190px;
    }

    .topbar{
        left:190px;
    }
    
    /* .menu-item{
        justify-content:center;
    } */
}

@media (max-width:768px){

    .sidebar{
        left:-260px;
        width:260px;
    }

    .sidebar.show{
        left:0;
    }

    .main-content{
        margin-left:0;
    }

    .topbar{
        left:0;
        right:0;
    }

}

.sidebar-overlay{
    position:fixed;
    inset:0;

    background:rgba(0,0,0,.4);

    opacity:0;
    visibility:hidden;

    transition:.3s;

    z-index:999;
}

.sidebar-overlay.show{
    opacity:1;
    visibility:visible;
}

/* Khi sidebar bị ẩn */
.sidebar.collapsed{
    width:80px;
}

.sidebar.collapsed .menu-item span{
    display:none;
}

.sidebar.collapsed .menu-item{
    justify-content:center;
}

.sidebar.collapsed .logo{
    display:flex;
    justify-content:center;
}

.main-content.expanded .topbar{
    left:80px;
}

/* Button */
.btn{
    display:inline-block;
    padding:8px 14px;
    border:none;
    border-radius:6px;
    text-decoration:none;
    font-size:14px;
    color:white;
    cursor:pointer;
    transition:0.3s;
}

.btn:hover{
    filter:brightness(50%);
}

.btn-create{
    background: linear-gradient(135deg, #FF9966, #00F2FE);
}

.btn-cancel{
    background: linear-gradient(135deg, #112D60 , #B6C0C5);
}

.btn-view{
    color:#0077ff;
}

.btn-edit{
    color:#f59e0b;
}

.btn-delete{
    color:#ef4444;
}

.btn-back{
    background:#64748b;
}

.btn-lock, .btn-unlock{
    color:black;
}

.btn-lock:hover{
    filter:brightness(100%);
    color:#ef4444;
}

.btn-unlock:hover{
    filter:brightness(100%);
    color:green;
}

/* Table */
.index-table{
    width:100%;
    min-width:100%;
    table-layout:auto;
    background:white;
    border-radius:10px;
    border-collapse:separate;
    border-spacing:0;
    overflow:hidden;
}

.table-header{
    background: linear-gradient(135deg, #112D60 0%, #DD83E0 100%);
}

.index-table th{
    color: #ffffff;
    text-align:left;
    padding:15px;
}

.index-table td{
    padding:15px;
    border-bottom:1px solid #e5e7eb;

}

.index-table td:last-child{
    white-space:nowrap;
    width:215px;
}

/* =========================
   CUSTOM ALERT
========================= */

.custom-alert{
    display:flex;
    align-items:center;
    justify-content:center;
    gap:10px;

    width:fit-content;
    max-width:350px;

    padding:14px 20px;
    margin-bottom:12px;

    border-radius:10px;

    color:white;
    font-weight:500;
    font-size:14px;

    box-shadow:0 10px 30px rgba(0,0,0,0.12);

    animation:slideIn 0.4s ease;
}

/* SUCCESS */

.success-alert{
    background:#27c460;
}

/* ERROR */

.error-alert{
    background:#dc2626;
}

/* ICON */

.custom-alert i{
    font-size:18px;
}

/* ANIMATION */

@keyframes slideIn{

    from{
        opacity:0;
        transform:translateX(100%);
    }

    to{
        opacity:1;
        transform:translateX(0);
    }

}

/* Chart */
.dashboard-chart-card{
    margin-top:30px;
    background:white;
    padding:25px;
    border-radius:16px;
    box-shadow:0 4px 20px rgba(0,0,0,.05);
}